<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="{% url 'inicioTienda' %}">TIENDA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'inicioTienda' %}">Home</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'categorias' %}">Categorías</a></li>
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'clientes' %}">Clientes</a></li>
                {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="{% url 'clientes' %}" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        {% with avatar_url=avatar_usuario(request.user) %}
                            {% if avatar_url %}
                                <img src="{{ avatar_url }}" alt="Avatar del usuario" class="user-avatar">
                            {% endif %}
                        {% endwith %}
                    </a>
                  
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'clientes:usuarios-editar' %}">Editar Usuario</a></li>
                        <li><a class="dropdown-item" href="{% url 'clientes:cargar_avatar' %}">Cargar Avatar</a></li>
                        <li><a class="dropdown-item" href="{% url 'clientes:usuarios-logout' %}">Logout</a></li>
                    </ul>
                </div>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
