<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="{% url 'inicioTienda' %}">TIENDA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'inicioTienda' %}">Home</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'categorias' %}">Categorías</a></li>
                {% endif %}
                <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="{% url 'clientes' %}">Clientes</a></li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase" href="{% url 'clientes:usuarios-editar' %}">Editar Usuario</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase" href="{% url 'clientes:cargar_avatar' %}">Cargar Avatar</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase" href="{% url 'clientes:usuarios-logout' %}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

