{% extends 'productos/products.html' %}

    {% block INDEX_TITULO %} 
    <section class="section__crear__product">
        <h2>Crear/Actualizar Productos</h2>
    </section>
    {% endblock INDEX_TITULO %}




{% block INDEX_CONTENIDO %}
    
    <form class="form__crear__product" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">Guardar</button>
    </form>

    <section class="regresar__section__product">
        <a href="{% url 'productos' %}" class="button__product">
            Regresar a productos
        </a>
    </section>
{% endblock INDEX_CONTENIDO %}