{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Business Casual - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="{% static 'TIENDA/assets/favicon.ico' %} " />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'TIENDA/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'TIENDA/css/stylesPropios.css' %}" rel="stylesheet" />

    </head>
    <body>
        {% include "TIENDA/navegacion.html" %}
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="Bienvenida_index site-heading-upper ">Esta es nuesta lista de</span>
                <span class="Bienvenida_index2" class="site-heading-lower">PRODUCTOS</span>
                <span class="Bienvenida_index site-heading-upper ">en stock</span>
            </h1>
        </header>
        {% block INDEX_TITULO %} 
        <!-- Deja el bloque INDEX_TITULO abierto para que pueda ser extendido en el template hijo -->
        {% endblock INDEX_TITULO %}
    
        {% block INDEX_CONTENIDO %}
        <!-- Deja el bloque INDEX_CONTENIDO abierto para que pueda ser extendido en el template hijo -->
        {% endblock INDEX_CONTENIDO %}
        {% block content %}
          <section class="Create_products">
            {% if request.user.is_authenticated %}
                <li class="list__product">

                    <button class="button__product1"><a class="products__link__a2" href="{% url 'productos:crear_producto' %}">Crear Productos</a> </button>
                </li>
            {% endif %}
          </section>  
            
          <div class="row">
            {% for producto in productos %}
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    {% if producto.imagen %}
                        <img src="{{producto.imagen.url}}" class="card-img-top" alt="{{ producto.descripcion }}">
                    {% endif %}    
                    <div class="card-body"> 
                        <h5 class="card-title">{{ producto.descripcion }}</h5>
                        <p class="card-text">{{ producto.talle }}</p>
                        <p class="card-text">${{ producto.precio }}</p>
                    </div>
                    {% if request.user.is_authenticated %}
                    <div class="card-footer">
                        <a href="{% url 'productos:detalle_producto' producto.pk %}" class="card-link">Ver detalle</a>
                        <a href="{% url 'productos:editar_producto' producto.pk %}" class="card-link">Actualizar</a>
                        <a href="{% url 'productos:eliminar_producto' producto.pk %}" class="card-link">Eliminar</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>        
     {% endblock %}


        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Seccion exclusiva para vendedores</span>
                                <span class="section-heading-lower">Nuestros productos</span>
                            </h2>
                        </div>
                    </div>
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Si eres uno de nuestros vendedores podras subir que productos tenemos disponibles iniciando sesión en la sesión de clientes.Estos tendrán su respectivo talle y precio según stock en tienda.</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Pasos a</span>
                                <span class="section-heading-lower">seguir</span>
                            </h2>
                        </div>
                    </div>
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Deberás cargar en descripción la tipología de prenda ejemplo; falda, pantalón, vestido, etc. Luego en talles deberás poner las siguientes opciones; xs, s, m, l ,xl, xxl, xxl. Por último su precio acorde al producto!.</p></div>
                    </div>
                </div>
            </div>
 
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'TIENDA/js/scripts.js' %} "></script>
    </body>
</html>
