{% extends "TIENDA/herencia.html" %}

{% load static %}

{% block titulo %}
    <h1>Bienvenidos a la página de clientes</h1>
{% endblock %}

{% block contenido_que_cambia %}
<h1>Clientes</h1>

<form action="" method="post">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Agregar">

</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            
        </tr>
    </thead>
    <tbody>
        
        {% for cliente in clientes %}
        <tr>
            <td>
                {{ cliente.id }}
            </td>
            <td>
                {{ cliente.nombre }}
            </td>
            <td>
                {{ cliente.apellido }}
            </td>
            <td>
                {{ cliente.email }}
            </td>
            
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}