{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Business Casual - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="{% static 'TIENDA/assets/favicon.ico' %} " />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'TIENDA/css/styles.css' %}" rel="stylesheet" />
        <link href="{% static 'TIENDA/css/stylesPropios.css' %}" rel="stylesheet" />

    </head>
    <body>
        {% include "TIENDA/navegacion.html" %}
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="Bienvenida_index site-heading-upper ">Esta es nuesta lista de</span>
                <span class="Bienvenida_index2 site-heading-lower"> Clientes</span>
            </h1>
        </header>

        {% block content %}
        <form class= "form_clientes" action="" method="post">
            {% csrf_token %}
            <table class="tabla-clientes">
            {{ form.as_table }}
            </table>
            <input class="tabla-agregar" type="submit" value="Agregar">
            
            </form>
            
            <table class="tabla-general">
                <thead>
                    <tr>
                        <th class="tabla-ID">ID</th>
                        <th class="tabla-nombre">Nombre</th>
                        <th class="tabla-apellido">Apellido</th>
                        <th class="tabla-email">Email</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <!--solo rendea si el user esta logueado, en este caso desde el panel de admin porque no tenes login desde html-->
                    
                    {% if user.is_authenticated %}                    
                    {% for cliente in clientes %}
                    <tr>
                        <td class="tabla-ID">
                            {{ cliente.id }}
                        </td>
                        <td class="tabla-nombre">
                            {{ cliente.nombre }}
                        </td>
                        <td class="tabla-apellido">
                            {{ cliente.apellido }}
                        </td>
                        <td class="tabla-email">
                            {{ cliente.email }}
                        </td>
                        
                    </tr>
            
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            
            {% endblock %}
        <section class="page-section about-heading">
            <div class="div-de-clientes" class="container ">
                <!-- <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/about.jpg" alt="..." /> -->
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="cliente-comentario section-heading-lower">Nuestro Cliente</span>
                                </h2>
                                <p>En esta sección podrá ser parte de nuestros clientes y recibirá promociones y descuentos de la tienda a su email.</p>
                                <p class="mb-0">
                                    Deberá completar sus datos en la parte superior y si el
                                    <em>registro fue exitoso,</em>
                                    se verá en la lista debajo del formulario!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'TIENDA/js/scripts.js' %} "></script>
    </body>
</html>
