{% extends 'clientes/about.html' %}

{% block contenido %}

<h1 class="mt-4"> Cargar avatar </h1>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="imagen" accept="image/*" required>
    <button type="submit">Cargar</button>
</form>

{% if avatar.imagen %}
    <h3>Avatar actual:</h3>
    <img src="{{ avatar.imagen.url }}" alt="Avatar">
{% endif %}
{% endblock %}