{% extends 'clientes/about.html' %}

{% block contenido %}
<section class="login_section">
    <h1 class="mt-4"> Inicio de sesión </h1>
</section>


{% if errors %}
    <p>Errores en inicio de sesión: {{ errors }}</p>
{% endif %}

<section class="login_section">
    <form class="login_form" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Iniciar sesión">
    </form>
</section>
    
<section class="login_section">
    <p class="login_texto"> No estás registrado?         <button class="login_button"><a class="login__a" href="{% url 'clientes:usuarios-registrar' %}"> Registrate! </a></p></button>

</section>


{% endblock %}