{% extends 'clientes/about.html' %}

{% block contenido %}

<h1 class=" titulo__registrar mt-4"> Registrar nuevo usuario </h1>

<section class="section__registrar__usuario">
    

        {% if errors %}
            <p>Errores registro de usuario: {{errors}}</p>
        {% endif %}

    <form method="post">
        {% csrf_token %}

        {{form.as_p}}

        <input type="submit" value="Registrar Usuario">
    </form>
    <p> </p>
    

</section>
<p class="titulo__registrar1"> ¿Ya tenés una cuenta? <button class="login_button"><a class="login__a" href="{% url 'clientes:usuarios-login' %}"> Iniciá sesión </a></button></p>

{% endblock %}